@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@font-face {
    font-family: "AnonymousPro";
    src: url('../../public/fonts/AnonymousPro-Regular.ttf');
}

::selection {
    background-color: #1851CD;
}